nav {
    background: rgba(0, 0, 0, 0.345);
    width: max-content;
    display: block;
    padding: 1.7rem 2rem;
    z-index: 2;
    position: fixed;
    top: 89%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}

nav a {
    background: transparent;
    padding: .5rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}

nav a:hover {
    background: rfba(0, 0, 0, 0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
}